* {
  box-sizing: border-box;
}
/*colour, text size, font, etc.*/
body {
	margin: 0px;
	background: #365577;
	color: #FFF0F5;
	font-family: Times New Roman;
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-size: 100% 100%;
}
/*This will affect the headers, in particular the colour animation*/
/*I have also added the testemonial slideshow*/
.header,.slideshow-container {
	background: purple;
	padding: 20px;
	text-align: center;
	animation-name: example;
	animation-duration: 4s;
	position: relative;
}
/*This is also for the header, in particular the colour for the animation*/
@keyframes example {
	from {background-color: blue;}
	to {background-color: purple;}
}
/*This will slide the Welcome text */
h1 {
    animation-duration: 8s;
    animation-name: slidein;
    animation-iteration-count: 8s;
}
/*This will show how far the Welcome text show go*/
@keyframes slidein {
  0% {
    margin-left: 50%;
  }
  50% {
    margin-left: 300px;
  }
  100% {
    margin-left: 0%;
  }
}

#header1{
	flex:5;	
	text-align:left;
	animation-name: example;
	animation-duration: 4s;
	position: relative;
	background: purple;
}

.topnav {
	overflow: hidden;
	background-color: yellow;
	text-align: center;
}

.topnav a {
	float: left;
	display: block;
	color: #333;
	text-align: center;
	padding: 10px 16px;
	text-decoration: none;
}
/*changes the colour when you hover over menu buttons*/
.topnav a:hover {
	background-color: #ddd;
	color: black;
}
/*This is my overall structure. Dont mess with this*/
.column { 
	float: left;
	width: 33.33%;
	flex:10;
	padding:5%;
	font-size:100%;	
}
/*Looks after my Contact format*/
.row:after {
	content: "";
	display: table;
	clear: both;
}
 /*Keeps my Footer tidy and in place*/
.link,.foot{
	flex:3;
	text-align:center;
	background-color:#333
}
/
.leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
}
/*Keeps my topnav at the top of the screen*/
@media screen and (max-width: 400px) {
.topnav a {
    float: none;
    width: 100%;
	}
}	
* {
  box-sizing: border-box;
}
/*Text Input*/
input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
}

input[type=submit]:hover {
	background-color: #45a049;
}

.container {
	border-radius: 3px;
	background-color: #f2f2f2;
	padding: 10px;
}

.col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
}

* {
  box-sizing: border-box;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 50%; 
  cursor: pointer; 
}

.column:hover Img {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

body, html {
  height: 100%;
  margin: 0;
}

.container a{
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0
}


.container a:after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container span {
  font-size: 10px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .container {
      text-align: center;
  }
}

:root {
	--opacity: 50%
}
.stars {
	display: flex;
}
.stars.disabled {
	pointer-events: none;
}

.stars a {
	opacity:var(--opacity);
	cursor: pointer;
	padding: 3px;
}

.stars:hover a{
	opacity: 100%;
}
.star a:hover{
	opacity: 100%;
}

.star a:hover ~ a{
	opacity:var(--opacity);
}

.stars a.active {
	opacity: 100%;
}
/*Testimonials*/
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}

/* Slides */
.mySlides {
  display: none;
  padding: 40px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -30px;
	padding: 14px;
	color: yellow;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	cursor: pointer;
	position: absolute;
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
	color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
	text-align: center;
    padding: 20px;
    background: yellow;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
	background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}